<div class="container">
  <h1>Welcome to the longest word-game!</h1>
  <p>Here is your grid:</p>
  <%= $grid.join(" ") %>
  <form action="/score" method="get">
    <input id="input" type="text" name="word" placeholder="YOUR LONGEST WORD">
    <input id="btn" type="submit">
  </form>
</div>

