<div class="banner" id="home">
  <div class="container">
    <h1>Welcome to the longest word-game!</h1>
    <p>Select your difficulty:</p>
    <form action="/game" method="get">
      <input id="btn" name="difficulty" type="submit" value="Easy">
      <input id="btn" name="difficulty" type="submit" value="Medium">
      <input id="btn" name="difficulty" type="submit" value="Hard">
    </form>
  </div>
</div>