// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: 0;
}

#home, #game, #score {
  height: 100vh;
}

#home {
  background: linear-gradient(to right, #114357, #f29492);
}

#game {
  background: linear-gradient(to right, #fd746c, #ff9068);
}

#score {
  background: linear-gradient(to right, #c02425, #f0cb35);
}

.container {
  padding: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 2em;
  font-weight: bold;
  color: white;
  transition: 0.5s ease;
  text-decoration: none;
}

#home input {
  background-color: #3D5B96;
}


